services:
  app:
    build: .
    container_name: app
    volumes:
      - ./app:/app
    networks:
      - dev

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    restart: unless-stopped
    networks:
      - dev
  
  frigate:
    container_name: frigate
    image: ghcr.io/blakeblackshear/frigate:stable
    restart: unless-stopped
    privileged: true 
    shm_size: "512mb"
    devices:
      - /dev/bus/usb:/dev/bus/usb  
    ports:
      - "5000:5000"   
      - "1935:1935"  
    volumes:
      - ./config:/config
      - ./media:/media
    environment:
      - FRIGATE_RTSP_PASSWORD=tu_password 
    networks:
      - dev
  
  rtsp-server:
    image: bluenviron/mediamtx:latest
    container_name: rtsp-server
    restart: unless-stopped
    ports:
      - "8554:8554"   # RTSP
      - "1936:1935"   # RTMP
      - "8888:8888"   # HLS
      - "8889:8889"   # WebRTC HTTP
      - "8189:8189/udp" # WebRTC ICE
      - "8890:8890/udp" # SRT
    

  ffmpeg-stream:
    image: jrottenberg/ffmpeg:4.3-alpine
    container_name: ffmpeg-stream
    restart: unless-stopped
    depends_on:
      - rtsp-server
    volumes:
      - ./videos:/videos:ro
    command: >
      -re -stream_loop -1
      -i "/videos/car accident good camera1080p.mp4"
      -c:v copy -c:a aac
      -f rtsp rtsp://rtsp-server:8554/live

volumes:
  restreamer-data:

networks:
  dev:
    driver: bridge
