services:
  app:
    build: .
    container_name: app
    volumes:
      - ./app:/app
    networks:
      - dev

  restreamer:
    image: datarhei/restreamer
    container_name: restreamer
    restart: unless-stopped
    ports:
      - "8081:8080"   # UI Web
      - "8533:8554"   # RTSP
    volumes:
      - restreamer-data:/core/data
    networks:
      - dev
  
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    restart: unless-stopped
    networks:
      - dev
  
  frigate:
    container_name: frigate
    image: ghcr.io/blakeblackshear/frigate:stable
    restart: unless-stopped
    privileged: true
    shm_size: "512mb"

    volumes:
      - ./config:/config
      - ./media:/media
      - /etc/localtime:/etc/localtime:ro

    ports:
      - "5000:5000"   # Web UI
      - "8554:8554"   # RTSP restream
      - "8555:8555/tcp"
      - "8555:8555/udp"
      - "1935:1936"   # RTMP
      - "8080:8080"   # RTSP


    environment:
      FRIGATE_RTSP_PASSWORD: strongpassword

volumes:
  restreamer-data:

networks:
  dev:
    driver: bridge