mqtt:
  enabled: true
  host: 10.0.0.140   # can be IP or hostname
  port: 1883        # default MQTT port

version: 0.16-0

lpr:
  enabled: true
  model_size: small
  debug_save_plates: false

cameras:
  LicensePlateRecognition:
    enabled: true
    type: lpr
    ffmpeg:
      inputs:
        - path: rtsp://10.0.0.140:8554/accident
          roles:
            - detect
    detect:
      enabled: true
      width: 1920
      height: 1080
      fps: 10
      min_initialized: 1
    record:
      enabled: false
    snapshots:
      enabled: false
    mqtt:
      enabled: true
      timestamp: true
      bounding_box: true

detect:
  enabled: true

go2rtc:
  streams:
    LicensePlateRecognition:
      - rtsp://10.0.0.140:8554/numberplate

semantic_search:
  enabled: false
face_recognition:
  enabled: false
classification:
  bird:
    enabled: false