mqtt:
  enabled: true
  host: mqtt   # can be IP or hostname
  port: 1883        # default MQTT port

version: 0.16-0

lpr:
  enabled: true
  model_size: large
  debug_save_plates: true

record:
  enabled: true
  retain:
    days: 0.007 # Keep continuous recording for ~10 minutes
    mode: all
  alerts:
    retain:
      days: 30
      mode: motion
  detections:
    retain:
      days: 30
      mode: motion

cameras:
  carAndMotorAccident:
    enabled: false
    type: lpr
    record:
      enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://10.0.0.142:8554/carAndMotorAccident
          roles:
            - detect
            - record
    detect:
      enabled: true
      width: 1920
      height: 1080
      fps: 10
      min_initialized: 1
    mqtt:
      enabled: true
      timestamp: true
      bounding_box: true

  LicensePlateRecognition:
    enabled: false
    type: lpr
    record:
      enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://10.0.0.142:8554/numberplate
          roles:
            - detect
            - record
    detect:
      enabled: true
      width: 1920
      height: 1080
      fps: 10
      min_initialized: 1
    mqtt:
      enabled: true
      timestamp: true
      bounding_box: true

  Accident:
    enabled: false
    type: lpr
    ffmpeg:
      inputs:
        - path: rtsp://10.0.0.142:8554/accident
          roles:
            - detect
    detect:
      enabled: true
      width: 1920
      height: 1080
      fps: 10
      min_initialized: 1
    mqtt:
      enabled: true
      timestamp: true
      bounding_box: true

  Person:
    enabled: true
    type: lpr
    face_recognition:
      enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://10.0.0.142:8554/personWalking
          roles:
            - detect
    detect:
      enabled: true
      width: 1280
      height: 720
      fps: 10
      min_initialized: 1
    mqtt:
      enabled: true
      timestamp: true
      bounding_box: true

detect:
  enabled: true

face_recognition:
  enabled: true
  model_size: small

semantic_search:
  enabled: false
  model_size: small
classification:
  bird:
    enabled: false
