mqtt:
  enabled: true
  host: 10.0.0.142   # can be IP or hostname
  port: 1883        # default MQTT port

version: 0.16-0

lpr:
  enabled: true
  model_size: large
  debug_save_plates: true

cameras:
  carAndMotorAccident:
    enabled: true
    type: lpr
    ffmpeg:
      inputs:
        - path: rtsp://10.0.0.142:8554/carAndMotorAccident
          roles:
            - detect
    detect:
      enabled: true
      width: 1920
      height: 1080
      fps: 10
      min_initialized: 1
    mqtt:
      enabled: true
      timestamp: true
      bounding_box: true

  LicensePlateRecognition:
    enabled: true
    type: lpr
    ffmpeg:
      inputs:
        - path: rtsp://10.0.0.142:8554/accident
          roles:
            - detect
    detect:
      enabled: true
      width: 1920
      height: 1080
      fps: 10
      min_initialized: 1
    mqtt:
      enabled: true
      timestamp: true
      bounding_box: true

detect:
  enabled: true

go2rtc:
  streams:
    LicensePlateRecognition:
      - rtsp://10.0.0.142:8554/numberplate

face_recognition:
  enabled: true
  model_size: large

